@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  from, to {
    background-color: transparent
  } 50% {
    background-color: #000
  }
}

ul, ol {
  list-style-type: '* ';
  margin-left: 1.25rem;
}

a {
  color: #1e40af;
  font-weight: medium;
  transition: 0.15s ease;
}

a:hover {
  color: #1e3a8a;
  text-decoration: underline;
}
